body {
  font-family: roboto, sans-serif;
  background-color: #e6eeee81;
}

header {
  height: 70px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  box-shadow: 4px 4px 8px rgba(124, 124, 124, 0.1);
  top: 0px;
  position: sticky;
  z-index: 5;
}

.bloc {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 12px;
  box-shadow: rgba(96, 96, 104, 0.2) 2px 10px 35px 2px;
  background-color: #fff;
}

.panel {
  display: inline-flex;
  overflow: hidden;

}

.accordion {
  border: none;
  padding: 10px 10px 10px 10px;
  height: 0px;
  color: rgb(161, 16, 16);
  cursor: pointer;
  transition: 0.5s;
}

h4 {
  font-weight: 400px;
}

.content {
  display: none;
  transition: max-height 0.3s ease-out;
}

ul li {
  list-style-image: url("../images/bullet.png");
  width: 95%;
  margin: auto;
}

.button-container {
  text-align: center;
  width: auto;
}

.cache {
  display: none;
}